.DS_Store
node_modules/
.vercel
.env
.env.local
*.log
dist/
app/dist/
app/android/app/build/
app/android/.gradle/
app/android/local.properties
app/android/app/src/main/assets/public/
app/android/app/src/main/assets/capacitor*
.env
hisaabi-debug.apk
*.apk
.env*
